@import "~style";

$block-name: 'b-inside';
$inLineBlock: inline-block;

.#{$block-name} {
	margin-bottom: 50px;
	max-width: 800px;

	&__pic {
		height: 168px;
		width: 39%;
		vertical-align: top;
		margin: 17px 2% 0 0;
		background-position: 0;
		background-size: cover;
		position: relative;
		display: $inLineBlock;
	}

	&__date {
		position: absolute;
		text-align: center;
		margin: 0;
		top: 20px;
		right: 25px;
		color: #fff;
		padding: 5px 10px 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 300;
	}

	&__text-block {
		width: 58%;
		display: $inLineBlock;
	}

	&__h2 {
		font-size: 18px;
		line-height: 1.3;
		font-weight: 600;
	}

	&__p {
		font-size: 14px;
	}
}
