@import "~style";

$block-name: 'b-insides';

.#{$block-name} {
	justify-content: center;
	padding: 0 20px;
	width: 50%;
	margin: 0 10px;
	max-width: 675px;

	&__linkHeader {
		color: black;
	}

	&__blockForContent {
		border-top: 1px solid #ccc;
		margin: 10px 0 0;
		padding: 10px 0 0;
		width: 100%;
	}
}
