

/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?165225199051*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?165225199051 */
