@import "~style";

$block-name: 'b-content';
$inLineBlock: inline-block;
$pFontSize: 14px;

.#{$block-name} {
	display: flex;
	justify-content: center;
	padding: 0 4%;
	margin-bottom: 50px;

	&__insites {
		width: calc(49% - 10px);
		margin: 0 10px;
		max-width: 675px;
	}

	&__linkHeader {
		color: black;
	}

	&__publication {
		width: calc(49% - 10px);
		margin: 0 10px;
		max-width: 675px;
	}

	&__blockForContent {
		border-top: 1px solid #ccc;
		margin: 10px 0 0;
		padding: 10px 0 0;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__oneInsite {
		width: 100%;

		&--h2 {
			font-size: 18px;
			line-height: 1.3;
			font-weight: 600;
		}

		&--p {
			font-size: $pFontSize;
		}
	}

	&__pic {
		max-width: 100%;
		height: 168px;
		width: 39%;
		vertical-align: top;
		margin: 17px 10px 0 0;
		background-position: 0;
		background-size: cover;
		position: relative;
		display: $inLineBlock;
	}

	&__date_oneInsite {
		position: absolute;
		text-align: center;
		margin: 0;
		top: 30px;
		right: 25px;
		color: #fff;
		padding: 5px 10px 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 300;
	}

	&__text_oneInsite {
		width: 58%;
		display: $inLineBlock;
	}

	&__label {
		height: 75px;
		width: 24%;
		vertical-align: top;
		background-repeat: no-repeat;
		background-size: auto 64px;
		margin: 15px 0 0;
		display: $inLineBlock;
	}

	&__onePublic {
		display: $inLineBlock;
		width: 49%;
		margin: 0 0 18px;
	}

	&__pub {
		width: 70%;
		margin: 6px 0 0;
		display: $inLineBlock;

		&--h3 {
			font-size: 16px;
			font-weight: 600;
			margin-top: 10px;
			line-height: 1.3;
		}

		&--h4 {
			font-size: 16px;
			line-height: 1.4;
			margin: 20px 0 0;
		}

		&--p {
			margin: 0;
			color: #5d5d5d;
			font-size: $pFontSize;
		}
	}
}
