body {
    margin: 0;
    padding:0;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}
header {
    position: sticky;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background: pink;
    opacity: 1;
    display: flex;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    z-index: 900;
    width: 100%;
    margin: 0 0;
}
header div {
    align-items: center;
    display: flex;
}
header .logo {
    width: 672px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.92px;
    margin: 0 0 0 50px;
}
.logo div:first-child {
    margin: 0 15px 0 0;
    width: 221px;
}
.logo div:last-child {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.92px;
    width: 460px;
}

header .subheader {
    font-size: 16px;
    font-weight: 300;
    width: 600px;
}
header .space {
    width: calc(100% - 1170px);
}
.subheader div:nth-child(1){
    /* width: 280px; */
/*      margin: 0 40px 0 0; */
	/* word-spacing: 20px; */

}
.subheader > div:nth-child(1) a {
    color: #fff;
	white-space: nowrap;
}
.subheader > div:nth-child(1) a:nth-child(2) {
    margin: 0 5px;
}
.subheader div:nth-child(1) a:first-child {
    text-decoration: none;
    margin: 0;
}
.subheader div:nth-child(2){
    width: 110px;
	position: relative;
	cursor: pointer;
	padding: 0;
	z-index: 300;
}
.subheader div:nth-child(2) div img {
    /* margin-right: 10px; */
}
.subheader .click1  a {
    text-decoration: none;
	color: #fff;
	font-size: 13px;
}
.subheader div:nth-child(2) span{
    margin: 0 20px 0 0px;
    font-size: 34px;
}
.click1 span:nth-child(1) {

/* 	padding-bottom: 10px; */
}
.click1 {
    margin-left: 5px;
}
.lang{
    position: absolute;
	top: -10px;
	left: -15px;
	display: none;
	margin: 0;
	padding: 40px 0px 10px 15px;
	background-color: #fff;
	z-index: -50;
}
.lang div {
	padding: 5px 0;
	opacity: 0.5;
	z-index: 200;
}
.grey {
	color: grey;
}
.white {
	color: #fff;
}
.lang div:hover {
	opacity: 1;
	color: grey;
}

.rot {
	transform: rotate(180deg);
	transition: 0.3s;
}
.norot {
	transform: rotate(0deg);
	transition: 0.3s;
}
.subheader > div:nth-child(3){
    width: 65px;
    padding: 0 0px 0 40px;
    font-size: 27px;
}


header div:last-child div:nth-child(1) a:hover {
    text-decoration: none;
}
.videoBlock {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: -100;
    background-color: #ccc;
	height: 30vw;
	/* vertical-align: bottom; */
	/* padding: 24vw 60px 10px 60px; */
}


.videoBlock h1 {
    /* max-width: 80vw; */
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
    /* width: 100%; */
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
	padding: 0 60px 60px 60px;
    margin: 0 auto;
	max-width: 1500px;
}
.fa-bars:hover {
	transition: 0.5s;
	color: #999;
	cursor: pointer;
}

.container {
    z-index: 100;
    /* padding: 20px 30px 3vw 30px; */
    margin: 0 auto;
	padding: 0;
    position: relative;
	width: 100%;
	box-sizing: border-box;
    background: #ccc;
}
.container > div:first-child  {
    display: flex;
    justify-content: center;
	padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;
    height: 90px;
    align-items: center;
    text-align: center;
}
.container a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0px 50px 0px 0px;
}
.menu {
    position: relative;
    z-index: 200;
}
.menu a:hover {
    text-decoration: underline;
}

.menu:hover .submenu {
    display: block;
}
.submenu:hover {
    display: block;
}
.submenu {
    position: absolute;
    top: 20px;
    left: 0px;
    min-width: 100px;
    opacity: 0.8;
    padding: 5px 10px;
    z-index: 300;
    display: none;
    text-align: left;
}

.submenu ul {
    margin: 0;
    padding: 5px 10px 5px 10px;
    background-color: #aaa;
}
.submenu ul li {
    list-style-type: none;
    color: #666;
}
.submenu a {
    font-size: 14px;
}
.text {
    display: flex;
    justify-content: center;
	padding: 50px 0 0px;
	box-sizing: border-box;
	margin-bottom: 26px;

}
.text a, .double a {
    text-decoration: none;
}
.text a:hover, .double a:hover {
    text-decoration: underline;
}
.text h1 {
    display: none;
    color: #810758;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
}
.text  div  {
	font-size: 17px;
	padding: 0 20px;
    max-width: 475px;
}
.center {
    text-align: center;
}
.triple {
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    /* padding: 0 5%; */
    flex-wrap: wrap;
	padding: 0 2%;
	box-sizing: border-box;
}
.triple > div {
	width: 32%;
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 465px;

 }
.triple a{
    color: #555;
}
/*.pic {

    margin: 15px 0;
}
.pic img {
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    /* height: auto;
	z-index: 199;
}
.date {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 30px;
    right: 25px;
    color: #fff;
    padding: 5px 10px 0 10px;
    background: rgba(0,0,0,.3);
	z-index: 300;
}*/

.content {
    margin-top: 22vw;
}
.bigImage {
    margin: 30px auto;
    text-align: center;
}
.bigImage img{
    height: 730px;
}
/*.double {
    display: flex;
    justify-content: center;
	padding: 0 4% ;
	margin-bottom: 50px;
}
.double .date, .onePic .date {
	top: 15px;
    right: 20px;
}
.double > div  {
    width: calc(49% - 10px);
	margin: 0 10px;
    max-width: 675px;
}

.line   {
    border-top: 1px solid #ccc;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}
.block, .block > div  {
    display: inline-block;
}
.block  {
    width: 100%;
}
.double a {
    color: black;
}
.block .pic {
    height: 168px;
    width: 39%;
    vertical-align: top;
    margin: 17px 10px 0 0;
    background-position: 0px 0px;
	background-size: cover;
	position: relative;
}
.block > div:last-child {
    width: 58%;
}
.block h2 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
}
.block p {
    font-size: 14px;
}
.label {
    height: 75px;
    width: 24%;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: auto 64px;
    margin: 15px 0 0 0;
    display: inline-block;
}
.public .line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.public .line > div {
    display: inline-block;
    width: 49%;
    margin: 0 0 18px 0;
}
.pub {
    width: 70%;
    margin: 6px 0 0 0;
    display: inline-block;
}
.pub h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1.3;
}
.pub h4  {
    font-size: 16px;
    line-height: 1.4;
    margin: 20px 0 0 0;
}
.pub p  {
    margin: 0 0 0 0;
    color: #5d5d5d;
    font-size: 14px;
}*/
.onePic {
    max-width: 750px;
    position: relative;
    text-align: center;
    margin: 50px auto;
}
.onePic img {
    width: 100%;
}
.onePic .date {
	top: 15px;
    right: 20px;
}
.onePic a, .info a, .links a{
    color: grey;
    text-decoration: none;
}
.info {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.links {
    text-align: center;
}
.filter form {
    text-align: right;
}
form input {
    background-color:#42AAFF;
    border-radius: 15px;
    margin-right: 100px;
    color: grey;
    padding: 8px;
}
footer {
    border-top: 1px solid #ddd;
    padding: 36px 50px 55px;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer  a{
/*     border-bottom: 1px solid #ddd; */
    color: #000;
    text-decoration: none;
}
footer .copyright {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 300px;
/*     width: 20%; */
    /* padding: 0 9% 0 0; */
}
footer .copyright p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 5px 0 0 0;
}
footer .copyright a{
    border-bottom: 1px solid #ddd;
    color: #000;

}
.allSites {
    cursor: pointer;
    /* width: 20%; */
/*     padding: 0 13%; */
	position: relative;
}
.allSites .click2 {
    display: none;
    position: absolute;
    top: 40px;
    width: 280px;
}
.allSites a {
	margin-right: 10px
}
.allSites .click2 p{
    color: #942973;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 15px;
}
.subscribe {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
/*     width: 20%; */
    /* padding: 0 0% 0 1%; */
}
.subscribe > div:first-child {
    width: 76%;
    margin: 25px 0 0 0;
}
.subscribe .email  {
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ddd;
    padding: 2px 30px 0;
    width: 340px;
    font-size: 16px;
}
.subscribe .submit {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    z-index: 1;
    background: url() no-repeat 50%;
    font-size: 0;
    cursor: pointer;
}
.contacts {
/*     width: 29%; */
    padding: 0 0% 0 0%;

}
.contacts p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0% 0 0%;
}
.contacts .adress {
    /* margin: 0 0% 0 33%; */
    /* padding: 0 0% 0 0%; */
}
.contacts p a {
    border: none;
}
.social {
    display: inline-block;
    margin-top: 20px;
}
.social div {
    display: inline-block;
    width: 34px;
    height: 17px;
    border: 1px solid #4c4c4c;
    border-radius: 17px;
    font-size: 20px;
    color: #4c4c4c;
    text-align: center;
/*    line-height: 34px;*/
    padding:  7px 0 9px;
}
.dBlock {
	display: block;
}
